@charset "utf-8";
// SCSS Document

//////////// ヘッダー設定 ////////////

$headFixedHeight: 100px;
$headPadding: 10px;

$headFixedHeightPc: 63px;
$headPaddingPc: 10px;

$spMenuHeight: 50px;

.head_main{
	height: $headFixedHeight;
	@extend .shadow;
	overflow: hidden;
	.container{
		height: 100%;
		> *{
			height: 100%;
		}
	}
	.head_logo{
		img{
			@extend .padding_v_xsmall;
			height: 100%;
		}
	}

	.head_search{
		@extend .padding_v_medium;
	}

	.head_result{
		@extend .padding_v_medium;
		@extend .font_large;
		color: $colorMonoDeep;
		line-height: 1;
	}
}