@charset "utf-8";
// SCSS Document

//////////// Bootstrap変数定義の上書き処理 ////////////
// $grid-gutter-width: 0; // グリッドシステムの余白設定


///////////////////////// 変数定義 /////////////////////////
//
//  ※初期設定で記述されている変数は消さないでください！
//
///////////////////////////////////////////////////////////


// フォントファミリー
$fontFamilyBase: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
$fontFamilyMin: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN","HG明朝E","ＭＳ Ｐ明朝","ＭＳ 明朝",serif;


// カラー
$colorMonoDark: #333333;
$colorMonoDeep: #BEBEBE;
$colorMonoPale: #E5E5E5;
$colorMonoClear: 000;
$colorMonoLight: #FFFFFF;

$colorMain: #3FC5EF;
$colorMainDark: 000; //暗い
$colorMainDeep: 000; //やや暗い
$colorMainPale: 000; //やや明るい
$colorMainClear: 000; //明るい
$colorMainLight: 000; //かなり明るい

$colorAccent: #00CA58;
$colorAccentDark: darken($colorAccent, 15%); //暗い
$colorAccentDeep: darken($colorAccent, 30%); //やや暗い
$colorAccentPale: lighten($colorAccent, 15%); //やや明るい
$colorAccentClear: #f6e6e7; //明るい
$colorAccentLight: #fff6f7; //かなり明るい

$colorFontBase: #333333;

$colorTransLight: rgba(255, 255, 255, 0.75);
$colorTransDark: rgba(0, 0, 0, 0.6);
$colorTransShadow: 0 1px 5px rgba(0, 0, 0, 0.16);


// スペース
$spaceXSmall: 10px;
$spaceSmall: 20px;
$spaceMedium: 30px;
$spaceLarge: 60px;
$spaceXLarge: 100px;


// フォントサイズ
$fontULarge: 36px;
$fontXLarge: 28px;
$fontLarge: 23px;
$fontMedium: 18px;
$fontBase: 14px;
$fontSmall: 12px;
$fontNotice: 11px;

$fontULargePc: 40px;
$fontXLargePc: 32px;
$fontLargePc: 30px;
$fontMediumPc: 20px;
$fontBasePc: 16px;
$fontSmallPc: 14px;
$fontNoticePc: 12px;
